.VTContainer {
    position: relative;
}

.VTList {
    overflow-y: scroll !important;
}

.VTHeader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #e1e8ed;
}

.VTGrid {
    outline: 1px solid #5c7080;
}

.VTHeader {
    position: absolute;
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    align-items: stretch;
    overflow: hidden;
}

.VTRow {
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    align-items: stretch;
    box-sizing: border-box;
}

.VTRowOdd {
    background-color: #fff;
}

.VTRowEven {
    background-color: #f5f8fa;
}

.VTCell,
.VTHeaderCell {
    flex-grow: 1;
    box-sizing: border-box;
    position: relative;
    align-items: center;
    display: flex;
}

.VTHeaderCell {
    border-right: 1px solid #bfccd6;
}

.VTCell {
    border-right: 1px solid #e1e8ed;
    border-bottom: 1px solid #ced9e0;
}

.VTHeader {
    box-sizing: border-box;
    border-bottom: 2px solid #5c7080;
    font-weight: bold;
}

.VTHeaderCell:last-of-type {
    border-right: 0;
}

.VTCellContent {
    overflow: hidden;
    padding: 0 0.5em;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.VTColumnResizer {
    cursor: col-resize;
    position: absolute;
    right: -3px;
    top: 0;
    height: 100%;
    background-color: #1f4b99;
    opacity: 0;
    width: 6px;
    z-index: 20;
}

.VTColumnResizer:hover {
    opacity: 0.1;
}

.VTColumnResizerActive {
    opacity: 0.5 !important;
    transition: opacity 200ms;
}

.VTNoItemsLabel {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    color: #bdbdbd;
}

.MyTable {
    border: 1px solid #d8e1e8;
    border-radius: 3px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    transition: transform 0.2s cubic-bezier(0.4, 1, 0.75, 0.9), box-shadow 0.2s cubic-bezier(0.4, 1, 0.75, 0.9),
        -webkit-transform 0.2s cubic-bezier(0.4, 1, 0.75, 0.9);
    box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1), 0 1px 1px rgba(16, 22, 26, 0.2), 0 2px 6px rgba(16, 22, 26, 0.2);
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
}

.SortIndicator {
    position: absolute;
    right: 5px;
    top: 5px;
}

.SortIndicator.ASC {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    border-bottom: 5px solid #0e5a8a;
}

.SortIndicator.DESC {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    border-top: 5px solid #0e5a8a;
}

.SortIndicator > .counter {
    position: absolute;
    font-size: small;
}

.RowSelected {
    background-color: #48aff0;
    color: #fff;
}

.CustomRow {
    background-color: #f5498b;
    color: #fff;
    font-weight: bold;
    padding: 0 40px;
    box-sizing: border-box;
}

.DescriptionBlock {
    margin-bottom: 10px;
}


/*# sourceMappingURL=iframe.7dc0f68d.chunk.css.map*/